name: Whiskers Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: catppuccin/setup-whiskers@v1
        with:
          whiskers-version: 2.3.0
      - run: |
          whiskers lazygit.tera --check
